name: Build and Test

on:
  pull_request:
    branches:
      - dev
  workflow_dispatch:
    branches:
      - dev
  push:
    branches:
      - dev

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Prepare
        run: |
          sudo apt-get -y install dos2unix
          git clone --depth 1 https://github.com/UWU-TEAM/AndroidLibXrayLite
          wget -qO - https://api.github.com/repos/UWU-TEAM/AndroidLibXrayLite/releases/latest \
          | grep browser_download_url | cut -d '"' -f 4 \
          | wget -i - -O app/libs/libv2ray.aar

      - name: JDK Setup
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: "Execute Gradle assemble"
        run: |
          dos2unix ./gradlew
          ./gradlew assemble

      - name: arm64
        uses: actions/upload-artifact@v4
        with:
          name: Arm64
          path: ${{ github.workspace }}/app/build/outputs/apk/release/*arm64-v8a.apk

      - name: armeabi-v7a
        uses: actions/upload-artifact@v4
        with:
          name: Armeabi-v7a
          path: ${{ github.workspace }}/app/build/outputs/apk/release/*armeabi-v7a.apk

      - name: x86
        uses: actions/upload-artifact@v4
        with:
          name: X86
          path: ${{ github.workspace }}/app/build/outputs/apk/release/*x86.apk

      - name: x86_64
        uses: actions/upload-artifact@v4
        with:
          name: X86_64
          path: ${{ github.workspace }}/app/build/outputs/apk/release/*x86_64.apk

      - name: universal
        uses: actions/upload-artifact@v4
        with:
          name: Universal
          path: ${{ github.workspace }}/app/build/outputs/apk/release/*universal.apk
